 
      body {
        text-align: center;
      }
    
      #res{
        color: white;
        background-color: rgb(71, 68, 42);
        width: 69px;
        height: 40px;
        border: 2px solid black;
        border-radius: 4px;
        text-decoration: underline;
        text-align: center;
      }
     .btn{
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
    background-color: darkred;
    color: white;
}
.btn:active{
   background-color: darkred;
   color: white;
   transform: scale(0.92);
}
.image_choice{
  width: 70px;
  height: 90px;
  background-color: greenyellow;
  border: 2px solid black;
  border-radius: 15px;
}
    
